<html>
    <head>
        <title>Soda Fountain</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header">
            <ul>
                <li><a href="{% url 'item_list' %}" class="top-menu">Items</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'menu_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
                    <li><a href="{% url 'accounts:logout' %}" class="top-menu">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}" class="top-menu">Sign In</a></li>
                    <li><a href="{% url 'accounts:sign_up' %}" class="top-menu">Sign Up</a></li>
                {% endif %}
            </ul>
             <h1><a href="/">Soda Fountain</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>