{% extends 'layout.html' %}

{% block content %}
    <div class="post">
        <div class="row">
            {% for menu in menus %}
                <div class="col-md-12">
                    <div class="thumbnail">
                        {% if menu.expiration_date %}
                            <div class="date">
                                Expires on: {{ menu.expiration_date }}
                            </div>
                        {% endif %}
                        <div class="caption">
                            <h3><a href="{% url 'menu_detail' pk=menu.pk %}">{{ menu.season }}</a></h3>
                            <p>{{ menu.items.all|join:", "}}</p>
                            <div>
                                {% if user.is_authenticated %}
                                    <a class="btn btn-success" href="{% url 'menu_edit' pk=menu.pk %}">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
